body {
  margin: 0;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: outline-box;
}

body {
  text-align: center;
  color: white;
  background-color: #282c34;
}

/* App Component */
.App {
  min-height: 100vh;
  padding: 20px;
  /* outline: 1px solid wheat; */
}

.link {
  color: #61dafb;
}

.product-list {    
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  /* font-size: calc(7px + 2vmin); */
  /* outline: 2px solid yellow; */
  padding: 20px;
}

/* ProductItem Component */
.product-item {
  outline: 1px solid gray;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  margin: 20px 5px;
}

.img-wrapper{
  width: 100%;
  height: 200px;
}

.img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
